#### Practica de Javier Bartolomé Rodríguez

In [1]:
from pyspark import SparkContext
sparkcontext = SparkContext("local", "First App")

ModuleNotFoundError: No module named 'pyspark'

In [2]:
dataSpark = "./apache.access.log_small"  #  usamos el dataSparkset pequeño para que el codigo se nos ejecute mas rapido, pero debe 
# funcionar igual con el grande 
dataSpark = sparkcontext.textFile(dataSpark).cache()

NameError: name 'sparkcontext' is not defined

In [4]:
dataSpark.count()

TypeError: count() takes at least 1 argument (0 given)

In [3]:
dataSpark.take(10)

AttributeError: 'str' object has no attribute 'take'

In [6]:
import re

def parse_log2(line):
    match = re.search('^(\S+) (\S+) (\S+) \[(\S+) [-](\d{4})\] "(\S+)\s*(\S+)\s*(\S+)\s*([/\w\.\s*]+)?\s*"* (\d{3}) (\S+)',line)
    if match is None:
        match = re.search('^(\S+) (\S+) (\S+) \[(\S+) [-](\d{4})\] "(\S+)\s*([/\w\.]+)>*([\w/\s\.]+)\s*(\S+)\s*(\d{3})\s*(\S+)',line)
    if match is None:
        return (line, 0)
    else:
        return (line, 1)

In [7]:
def map_log(line):
    match = re.search('^(\S+) (\S+) (\S+) \[(\S+) [-](\d{4})\] "(\S+)\s*(\S+)\s*(\S+)\s*([/\w\.\s*]+)?\s*"* (\d{3}) (\S+)',line)
    if match is None:
        match = re.search('^(\S+) (\S+) (\S+) \[(\S+) [-](\d{4})\] "(\S+)\s*([/\w\.]+)>*([\w/\s\.]+)\s*(\S+)\s*(\d{3})\s*(\S+)',line)
    return(match.groups())
parsed_rdd = dataSpark.map(lambda line: parse_log2(line)).filter(lambda line: line[1] == 1).map(lambda line : line[0]) #map con el segundo parseador, filtramos cuales de ellos han sido uno (que el paseador los pasa adecuadamente) y despues mapeamos
parsed_def = parsed_rdd.map(lambda line: map_log(line))

AttributeError: 'str' object has no attribute 'map'

In [9]:
from pyspark.sql import SQLContext, Row # Row nos permite darle nombres a cada elemento de la lista
from pyspark.sql.functions import *
sqlContext = SQLContext(sc)

ModuleNotFoundError: No module named 'pyspark'

In [10]:
def convert_long(j):
    j = re.sub('[^0-9]',"",j) 
    if j =="":
        return 0
    else:
        return int(j)

In [11]:
sql_dataSpark = parsed_def.map(lambda p: Row(
    Host = p[0], 
    date = p[3][:2],
    endpoint = p[6], 
    code = p[9],
    size = convert_long(p[10])))

NameError: name 'parsed_def' is not defined

In [13]:
df = sqlContext.createdataSparkFrame(sql_dataSpark)
df.registerTempTable("nasa")

NameError: name 'sqlContext' is not defined

In [14]:
resultado1 = sqlContext.sql("""
    SELECT * 
    FROM nasa 
    LIMIT 20
""")
resultado1.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 1: Mínimo, máximo y media del tamaño de las peticiones (size)

In [15]:
resultado2 = sqlContext.sql("""
    SELECT MIN(size) AS Minimo, MAX(size) AS Maximo, ROUND(AVG(size), 2) AS Media 
    FROM nasa 
""")
resultado2.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 2: Número de peticiones (size) de cada código de respuesta (response_code)

In [16]:
count1 = sqlContext.sql("""
    SELECT COUNT(size) AS Peticiones, code AS Codigo 
    FROM nasa 
    GROUP BY code
""")
count1.show()

NameError: name 'sqlContext' is not defined

In [17]:
sum1 = sqlContext.sql("""
    SELECT SUM(size) AS Peticiones, code AS Codigo 
    FROM nasa 
    GROUP BY code
""")
sum1.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 3: Mostrar 20 hosts que hayan sido visitados más de 10 veces.

In [18]:
resultado3 = sqlContext.sql("""
    SELECT host AS Host, size AS Visitas 
    FROM nasa 
    WHERE size > 10 
    ORDER BY size 
    LIMIT 20
""")
resultado3.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 4: Buscar los 10 endpoints más visitados.

In [19]:
resultado4 = sqlContext.sql("""
    SELECT endpoint AS Endpoint, size AS Visitas 
    FROM nasa 
    ORDER BY size DESC 
    LIMIT 10
""")
resultado4.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 5: Mostrar los 10 endpoints más visitados que no tienen código de respuesta = 200.

In [20]:
resultado5 = sqlContext.sql("""
    SELECT endpoint AS Endpoint, size AS Visitas
    FROM nasa
    WHERE code != 200
    ORDER BY size DESC
    LIMIT 10
""")
resultado5.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 6: Calcular el número de hosts distintos que hay

In [21]:
resultado6 = sqlContext.sql("""
    SELECT COUNT(DISTINCT host) AS Hosts
    FROM nasa
""")
resultado6.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 7: Calcular el número de hosts que hay cada día.

In [22]:
resultado7 = sqlContext.sql("""
    SELECT DISTINCT date AS Fecha
    FROM nasa
""")
resultado7.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 8: Media de peticiones diarias por host

In [23]:
resultado8 = sqlContext.sql("""
    SELECT date AS Fecha, host AS Host, ROUND(AVG(size), 2) AS Media
    FROM nasa
    GROUP BY date, host
""")
resultado8.show()

NameError: name 'sqlContext' is not defined

## EJERCICIO 9: Lista de 40 endpoints distintos que generan código de respuesta = 404:

## EJERCICIO 10: El top 25 de endpoints que más códigos 404 generan

## EJERCICIO 11: Top 5 de días que más códigos de error 404